p{
    margin-top: 0;
    margin-bottom: 0;
   }

body{
    /* Thses styles will be inherited*/
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 300px;
    font-family: Roboto, Arial;
    background-color: rgb(248, 248, 248);
}