.header{
    top: 0;
    left: 0;
    right: 0;   
    height: 55px;
    z-index: 100;
    display: flex;
    position: fixed;
    flex-direction: row;
    border-bottom-width: 1px;
    background-color: white;
    border-bottom-style: solid;
    justify-content: space-between;
    border-bottom-color: rgb(228, 228, 228);
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle-section{
    flex: 1;
    display: flex;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 30px;
    flex-direction: row;
    align-items: center;
}

.right-section{
    width: 180px;
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu{
    height: 24px;
    cursor: pointer;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.search-button{
    width: 60px;
    height: 39px;
    border-width: 1px;
    margin-left: -1px;
    border-radius: 2px;
    margin-right: 10px;
    border-style: solid;
    border-color:  rgb(192, 192, 192);
    background-color:rgb(240, 240, 240);
}

.search-button, 
.voice-search-button,
.upload-icon-container, 
.youtube-apps-icon-container,
.notification-icon-container{
     display: flex;
     cursor: pointer;
     position: relative;
    align-items: center;
    justify-content: center;
}

.voice-search-button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
}

.search-bar{
    flex: 1;
    width: 0;
    height: 36px;
    font-size: 16px;
    border-radius: 3px;
    color: rgb(40, 40, 40);
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar:active{
    border-color: lightblue;
}

.search-bar::placeholder{
    font-size: 16px;
    padding-left: 10px;
}

.search-icon{
    height: 25px;
}

.voice-search-icon{
    height: 24px;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}

.current-user-picture{
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}


.notifications-count{
    top: -2px;
    right: -5px;
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(200, 0, 0);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip, 
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip{
    opacity: 0;
    bottom: -30px;
    color: white;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 2px;
    position: absolute;
    /*To eliminate the text wraping */
    white-space: nowrap;
    pointer-events: none;   
    transition: opacity 0.5s;
    background-color: gray;
}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, 
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
opacity: 1;
}