.sidebar{
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    position: fixed;
    padding-top: 5px;
    background-color: white;
}

.sidebar-link{
    height: 74px;
    display: flex;
    cursor: pointer;
    margin-bottom: 1px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-size: 10px;
}