  .thumbnail{
      width: 100%;
  }
  .message{
      color: rgb(96, 96, 96);
  }
  .video-title{
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
  }

  .video-preview{
    max-width: 400px;
  }
  
  .video-author, 
  .video-stats{
      font-size: 12px;
      color: rgb(96, 96, 96);
  }
  .video-author{
      margin-bottom: 4px;
  }
  .profile-picture{
      width: 36px;
      border-radius: 50%;
  }
  .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
  }
  .video-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
  }
  .video-grid{
      display: grid;
      row-gap: 40px;
      column-gap: 16px;
      grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width:900px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width:1200px){
    .video-grid{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
  }

  @media (min-width:901px) and (max-width:1199px){
    .video-grid{
        grid-template-columns:1fr 1fr 1fr;
    }
  }

.video-time{  
      right: 5px;
      bottom: 8px;
      padding: 4px;
      color: white;
      font-size: 12px;
      font-weight: 500;
    position: absolute;
    border-radius: 4px;
    background-color: black;
  }